header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}
#pictureDiv {
    border-style: solid;
    position: relative;
}
#Head1 { 
    font-size:40px; 
    color:#fdbe39;
    font-weight:bold; 
} 
#Head2 { 
    font-size:30px; 
    margin-left:10px; 
    margin-bottom:15px; 
    color: #ffe246;
}
#informationDiv {
    font-size: 20px;
}
div#information {
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
    border-style: solid;
}
.map {
    height: 200px;
    width: 100%;
}
.checked {
    color: orange;
}

section {
    padding: 30px 60px;
}

#button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

